# Space Mission Challenge - IEEE Hackathonn 2023
## Pumping Lemma Submission 

The year is 2030, a team of space enthusiasts launched a mission to explorea distant planet in a far-off galaxy. 

The mission was a challenging one, and the team had to overcome several obstacles to make it a success.

This event is about analyzing the data from the mission to determine its success rate and building ana utonomous system for the spaceship.

In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [19]:
sns.set()
pd.set_option('display.max_columns', 10)

In [20]:
flights = pd.read_csv('synthetic_space_dataset.csv')

In [22]:
flights.head(5)

,ship_id,launch_year,mission_duration_days,distance_to_planet_km,planet_gravity_m_s2,...,heat_shield_material_id,heat_shield_thickness_cm,lander_leg_count,lander_leg_length_m,success_landing
0,52,2028,204,3.847606e+08,21.682092,...,1,14,4,4,False
1,93,2022,435,1.827605e+08,1.961883,...,2,19,5,1,False
2,15,2025,81,3.582505e+07,13.132886,...,3,18,3,3,False
3,72,2028,420,1.702923e+08,29.242663,...,9,3,4,3,False
4,61,2028,231,1.773798e+07,17.780109,...,9,16,5,1,False

In [24]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ship_id                      60000 non-null  int64
 1   launch_year                  60000 non-null  int64
 2   mission_duration_days        60000 non-null  int64
 3   distance_to_planet_km        60000 non-null  float64
 4   planet_gravity_m_s2          60000 non-null  float64
 5   landing_latitude             60000 non-null  int64
 6   landing_longitude            60000 non-null  int64
 7   initial_speed_m_s            60000 non-null  int64
 8   final_speed_m_s              60000 non-null  int64
 9   fuel_consumption_kg          60000 non-null  int64
 10  crew_size                    60000 non-null  int64
 11  total_weight_kg              60000 non-null  int64
 12  engine_thrust_N              60000 non-null  float64
 13  engine_count                 60000 non-null  int64
 14  solar_panels_count           60000 non-null  int64
 15  energy_capacity_kWh          60000 non-null  int64
 16  communication_frequency_GHz  60000 non-null  int64
 17  max_altitude_km              60000 non-null  int64
 18  parachute_count              60000 non-null  int64
 19  parachute_area_m2            60000 non-null  int64
 20  heat_shield_material_id      60000 non-null  int64
 21  heat_shield_thickness_cm     60000 non-null  int64
 22  lander_leg_count             60000 non-null  int64
 23  lander_leg_length_m          60000 non-null  int64
 24  success_landing              60000 non-null  bool
dtypes: bool(1), float64(3), int64(21)
memory usage: 11.0 MB