# Space Mission Challenge - IEEE Hackathonn 2023
## Pumping Lemma Submission 

The year is 2030, a team of space enthusiasts launched a mission to explorea distant planet in a far-off galaxy. 

The mission was a challenging one, and the team had to overcome several obstacles to make it a success.

This event is about analyzing the data from the mission to determine its success rate and building ana utonomous system for the spaceship.

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
sns.set()
pd.set_option('display.max_columns', 10)

In [18]:
flights = pd.read_csv('synthetic_space_dataset.csv')

In [19]:
flights.head(5)

,ship_id,launch_year,mission_duration_days,distance_to_planet_km,planet_gravity_m_s2,...,heat_shield_material_id,heat_shield_thickness_cm,lander_leg_count,lander_leg_length_m,success_landing
0,52,2028,204,3.847606e+08,21.682092,...,1,14,4,4,False
1,93,2022,435,1.827605e+08,1.961883,...,2,19,5,1,True
2,15,2025,81,3.582505e+07,13.132886,...,3,18,3,3,True
3,72,2028,420,1.702923e+08,29.242663,...,9,3,4,3,True
4,61,2028,231,1.773798e+07,17.780109,...,9,16,5,1,False

## One Hot Encoding for success_landing

In [20]:
success_landing = pd.get_dummies(flights.success_landing, drop_first=True, prefix='success_landing')
flights = flights.drop(['success_landing'], axis='columns')
flights = pd.concat([flights, success_landing], axis='columns')
flights.head(5)

,ship_id,launch_year,mission_duration_days,distance_to_planet_km,planet_gravity_m_s2,...,heat_shield_material_id,heat_shield_thickness_cm,lander_leg_count,lander_leg_length_m,success_landing_True
0,52,2028,204,3.847606e+08,21.682092,...,1,14,4,4,0
1,93,2022,435,1.827605e+08,1.961883,...,2,19,5,1,1
2,15,2025,81,3.582505e+07,13.132886,...,3,18,3,3,1
3,72,2028,420,1.702923e+08,29.242663,...,9,3,4,3,1
4,61,2028,231,1.773798e+07,17.780109,...,9,16,5,1,0